/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}
/* Remove default margin */
* {
margin: 0;
padding: 0;
font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
list-style: none;
}
/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}
html {
scroll-behavior: smooth;
}
html,
body {
height: 100%;
}
/* Set core body defaults */
body {
text-rendering: optimizeSpeed;
line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture,
svg {
max-width: 100%;
display: block;
}

html,
body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow: hidden; /* Prevents scrolling */
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
html:focus-within {
  scroll-behavior: auto;
}
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

/* Go  */
:root {
    --main-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --third-font: 'Montserrat Alternates', sans-serif;
}
/* nav */ 
.nav {
    background-color: black;
    width: 100%;
    height: 90px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav a {
    color: white;
    text-decoration: none;
    padding-left: 4rem;
    font-family: var(--second-font);
    font-size: 28px;
    font-weight: 500;
}

.nav p {
    color: white;
    font-family: var(--second-font);
    font-size: 28px;
    font-weight: 500;
    padding-right: 4rem;
    
}

/* main */
.main { 
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    box-sizing: border-box;
}

.left {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    background-color: black;
    border-right: 0.5px solid #343a40;
    border-top: 1px solid #343a40;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.right {
    grid-row: 1 / 1;
    grid-column: 3 / 4;
    background-color: black;
    border-left: 0.5px solid #343a40;
    border-top: 1px solid #343a40;
    padding: 4.5rem;
}

.left-header {
    display: grid; 
    grid-column: 1 / 4;
    grid-row: 1 / 2; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #343a40;
    padding-left: 3.5rem;
}

.bitcoin {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-right: 1px solid #343a40;
    padding-top: 1rem;
}

.bitcoin-upper {
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin-top: 2.5rem;
    gap: 0.5rem;
}

.btc-icon {
    animation: rotate 10s linear infinite;
    flex-shrink: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btc {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 2px;
}

.abbre {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 400;
    color: #6c757d;
    margin-top: 2px;
}

.positive-rate {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: rgba(8, 28, 21, 0.6); 
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 3.5rem;
    padding-top: 1rem;
}

.positive-upper {
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin-top: 2.5rem;
}

.pst {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 400;
    color: #adb5bd;
    margin-top: 2px;
}

.bitcoin-lower {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 1rem;

}

.price{
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.status {
    display: flex;
    justify-content: left;
}

.status p {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.status img {
    width: 30px;
}

.positive-lower {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 1rem;
}

.rate {
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 500;
    color: white;
    margin-top: 4px;
}

.pst-status {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}

.trend {
    width: 25px;
}

.pst-status-text {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.left-chart {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#bitcoinChart {
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 0;
}

.news-nav {
    display: flex;
    justify-content: space-around;
    padding: 6px 12px;
    background-color: #191D26;
    border-radius: 15px;
    align-items: center;
}

.nav-item {
    font-family: var(--main-font);
    font-size: 20px;
    padding: 5px 15px;
    color: #9CA3AF;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: #263344;
    color: #fff;
}

.nav-item.active {
    background-color: #263344;
    color: #fff;
}

.fake {
    width: 110%;
    padding-top: 3rem;
}


